
.main-scroll-downs {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);  
  width :34px;
  height: 55px;
  z-index: 1200;
}
.main-mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.main-scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
.main-scroll-text{
  font-size: 14px;
  text-align: center;
  color: #fff;
  display: block;
  width: 37px;
  margin: 5px auto;
}